.failedTitle
{
text-align: center;
}

ul {
    list-style: none;
    padding: 0;
  }
  
li {
    margin-bottom: 10px;
  }

.addIngredient
{
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    background-color: silver;
}

.listIngredients
{
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    background-color: silver;

}

body
{
    background-color: floralwhite;
}
